/* --------------------  button styles ----------------- */
.button {
   border: 1px solid #0a590c; /*  #0a3c59 -> 0a590c ,  202 degree -> 122 degree*/
   background: #3e9e44; /* #3e779d -> #3e9e44 , 204 degree -> 124 degree*/
   background: -webkit-gradient(linear, left top, left bottom, from(#65d66c), to(#3e9e44));/*#65a9d7 -> #65d66c 204 degree -> 124 degree*/
   background: -webkit-linear-gradient(top, #65d66c, #3e9e44);
   background: -moz-linear-gradient(top, #65d66c, #3e9e44);
   background: -ms-linear-gradient(top, #65d66c, #3e9e44);
   background: -o-linear-gradient(top, #65d66c, #3e9e44);
   background-image: -ms-linear-gradient(top, #65d66c 0%, #3e9e44 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ebd83 0 1px 0; /* #7ea4bd -> #7ebd83, 204 degree -> 124 degree*/
   color: #066b0f;/* #06426c -> #066b0f, 205 degree -> 125 degree*/
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   display: block;
   width: 120px;
   }
.button:hover {
   border: 1px solid #0a590c;  /*  #0a3c59 -> 0a590c , 202 degree -> 122 degree*/
   text-shadow: #1e5922 0 1px 0;/* #1e4158 -> #1e5922, 204 degree -> 124 degree*/
   background: #3e9e44;
   background: -webkit-gradient(linear, left top, left bottom, from(#65d66c), to(#3e9e44));
   background: -webkit-linear-gradient(top, #65d66c, #3e9e44);
   background: -moz-linear-gradient(top, #65d66c, #3e9e44);
   background: -ms-linear-gradient(top, #65d66c, #3e9e44);
   background: -o-linear-gradient(top, #65d66c, #3e9e44);
   background-image: -ms-linear-gradient(top, #65d66c 0%, #3e9e44 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e5922 0 1px 0;
   border: 1px solid #0a590c;  /*  #0a3c59 -> 0a590c, 202 degree -> 122 degree*/
   background: #65d66c;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9e44), to(#3e9e44));
   background: -webkit-linear-gradient(top, #3e9e44, #65d66c);
   background: -moz-linear-gradient(top, #3e9e44, #65d66c);
   background: -ms-linear-gradient(top, #3e9e44, #65d66c);
   background: -o-linear-gradient(top, #3e9e44, #65d66c);
   background-image: -ms-linear-gradient(top, #3e9e44 0%, #65d66c 100%);
   color: #fff;
   }

   /*.button-new-game - это кнопка для newgame отдельные стили*/

.button-new-game {
   border: 1px solid #0a590c; /*  #0a3c59 -> 0a590c ,  202 degree -> 122 degree*/
   background: #3e9e44; /* #3e779d -> #3e9e44 , 204 degree -> 124 degree*/
   background: -webkit-gradient(linear, left top, left bottom, from(#65d66c), to(#3e9e44));/*#65a9d7 -> #65d66c 204 degree -> 124 degree*/
   background: -webkit-linear-gradient(top, #65d66c, #3e9e44);
   background: -moz-linear-gradient(top, #65d66c, #3e9e44);
   background: -ms-linear-gradient(top, #65d66c, #3e9e44);
   background: -o-linear-gradient(top, #65d66c, #3e9e44);
   background-image: -ms-linear-gradient(top, #65d66c 0%, #3e9e44 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ebd83 0 1px 0; /* #7ea4bd -> #7ebd83, 204 degree -> 124 degree*/
   color: #066b0f;/* #06426c -> #066b0f, 205 degree -> 125 degree*/
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   display: block;
   width: 120px;
   }
.button-new-game:hover {
   border: 1px solid #0a590c;  /*  #0a3c59 -> 0a590c , 202 degree -> 122 degree*/
   text-shadow: #1e5922 0 1px 0;/* #1e4158 -> #1e5922, 204 degree -> 124 degree*/
   background: #3e9e44;
   background: -webkit-gradient(linear, left top, left bottom, from(#65d66c), to(#3e9e44));
   background: -webkit-linear-gradient(top, #65d66c, #3e9e44);
   background: -moz-linear-gradient(top, #65d66c, #3e9e44);
   background: -ms-linear-gradient(top, #65d66c, #3e9e44);
   background: -o-linear-gradient(top, #65d66c, #3e9e44);
   background-image: -ms-linear-gradient(top, #65d66c 0%, #3e9e44 100%);
   color: #fff;
   }
.button-new-game:active {
   text-shadow: #1e5922 0 1px 0;
   border: 1px solid #0a590c;  /*  #0a3c59 -> 0a590c, 202 degree -> 122 degree*/
   background: #65d66c;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9e44), to(#3e9e44));
   background: -webkit-linear-gradient(top, #3e9e44, #65d66c);
   background: -moz-linear-gradient(top, #3e9e44, #65d66c);
   background: -ms-linear-gradient(top, #3e9e44, #65d66c);
   background: -o-linear-gradient(top, #3e9e44, #65d66c);
   background-image: -ms-linear-gradient(top, #3e9e44 0%, #65d66c 100%);
   color: #fff;
   }
