@import url("buttons.css");

html{
	margin:0;
	padding:0;
	width:100%;
	font-size: 100%;
}

body{
	margin:0;
	padding:20px 0 5px 0;
	width:100%;
	background:#000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    background-color: #E0EEE0;
}

/*#menu - это оболочка блока кнопок меню*/
#menu{
	width: 600px;
	padding: 20px;
	border: 1px solid green;
	border-radius: 10px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}

	#menu ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #menu ul li{
        float: left;
        margin-right: 20px;
    }

    #menu ul li:first-child{
    	margin-left: 38px;
    }

#rules h3 {
	text-align: center;
}

#rules p {
	text-align: justify;
}

#records h3 {
	text-align: center;
}

.buttons{
	margin-bottom: 30px;

}

p#placeShowResult {
	font-size: 1.5rem;
}

/*.block - это оболочка игрового поля*/
.block{
    width: 600px;
    border: 1px solid green;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	position:relative;
	margin: 0 auto;
}

    /*   ----- style puzzle -----*/

.bones, .bones-white{
    cursor: pointer;
    background-color: green;
    position: absolute;
	width: 125px;
	height: 125px;
    /*-webkit-clip-path: inset(5px 5px 5px 5px round 5px);*/
	border: 4px solid #999;
	box-sizing: border-box;
	border-radius: 12px;
}

.bones-white{
	background-color: #999;
	z-index: -10; /* для того, чтобы пятнашки могли спокойно наезжать на пустой элемент*/
}

.boneNumber{
    font-family: arial;
    font-weight: bold;
    font-size: 5em;
    color: white;
    line-height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid red;
    padding: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.wrapper{
    background-color: #999;
    border: 10px solid gray;
    border-radius: 10px;
    width: 500px;
    height: 500px;
	margin: 0 auto;
	position: relative;
}

	.b-00{
		top: 0;
		left: 0;
	}

	.b-01{
		top: 0;
		left: 125px;
	}

	.b-02{
		top: 0;
		left: 250px;
	}

	.b-03{
		top: 0;
		left: 375px;
	}

	.b-04{
		top: 125px;
		left: 0;
	}

	.b-05{
		top: 125px;
		left: 125px;
	}

	.b-06{
		top: 125px;
		left: 250px;
	}

	.b-07{
		top: 125px;
		left: 375px;
	}

	.b-08{
		top: 250px;
		left: 0;
	}

	.b-09{
		top: 250px;
		left: 125px;
	}

	.b-10{
		top: 250px;
		left: 250px;
	}

	.b-11{
		top: 250px;
		left: 375px;
	}

	.b-12{
		top: 375px;
		left: 0;
	}

	.b-13{
		top: 375px;
		left: 125px;
	}

	.b-14{
		top: 375px;
		left: 250px;
	}

	.b-15{
		top: 375px;
		left: 375px;
	}

	.bone-text{
		color: white;
		text-align: center;
		font-weight: bold;
		font-family: arial;
		line-height: 125px;
		font-size: 41px;

	}

	.borders{
		position: absolute;
		top: 0;
		left: 0;
		width: 125px;
		height: 125px;
		background-color: none;
		border: 5px solid #999;
		border-radius: 5px;
	}

   /* Media Queries */

@media only screen and (max-width: 940px),
only screen and (max-device-width: 940px){
	.block{
		width: 500px;
		/*border: 3px solid red;*/
	}

	#menu{
		width: 500px;
	}

	#menu ul li:first-child{
		margin-left: 10px;
	}

	#menu ul li:last-child{
		margin-right: 10px;
	}

	.button{
		width: 100px;
	}

	.wrapper{
		width: 400px;
		height: 400px;
	}

	.b-00{
		top: 0;
		left: 0;
	}

	.b-01{
		top: 0;
		left: 100px;
	}

	.b-02{
		top: 0;
		left: 200px;
	}

	.b-03{
		top: 0;
		left: 300px;
	}

	.b-04{
		top: 100px;
		left: 0;
	}

	.b-05{
		top: 100px;
		left: 100px;
	}

	.b-06{
		top: 100px;
		left: 200px;
	}

	.b-07{
		top: 100px;
		left: 300px;
	}

	.b-08{
		top: 200px;
		left: 0;
	}

	.b-09{
		top: 200px;
		left: 100px;
	}

	.b-10{
		top: 200px;
		left: 200px;
	}

	.b-11{
		top: 200px;
		left: 300px;
	}

	.b-12{
		top: 300px;
		left: 0;
	}

	.b-13{
		top: 300px;
		left: 100px;
	}

	.b-14{
		top: 300px;
		left: 200px;
	}

	.b-15{
		top: 300px;
		left: 300px;
	}

	.bones, .bones-white{
    width: 100px;
	height: 100px;
	border: 3px solid #999;
	border-radius: 9px;
	}

	.bone-text{
		line-height: 100px;
		font-size: 33px;

	}


/*block = 500px */
/* width = 720px-940px */
}


@media only screen and (max-width: 720px),
only screen and (max-device-width: 720px){
	.block{
		width: 400px;
		/*border: 3px solid green;*/
	}

	#menu{
		width: 400px;
	}

	#menu ul li:first-child{
		margin-left: 8px;
	}

	#menu ul li:last-child{
		margin-right: 0;
	}

	.button{
		width: 70px;
	}

	.wrapper{
		width: 300px;
		height: 300px;
	}

	.b-00{
		top: 0;
		left: 0;
	}

	.b-01{
		top: 0;
		left: 75px;
	}

	.b-02{
		top: 0;
		left: 150px;
	}

	.b-03{
		top: 0;
		left: 225px;
	}

	.b-04{
		top: 75px;
		left: 0;
	}

	.b-05{
		top: 75px;
		left: 75px;
	}

	.b-06{
		top: 75px;
		left: 150px;
	}

	.b-07{
		top: 75px;
		left: 225px;
	}

	.b-08{
		top: 150px;
		left: 0;
	}

	.b-09{
		top: 150px;
		left: 75px;
	}

	.b-10{
		top: 150px;
		left: 150px;
	}

	.b-11{
		top: 150px;
		left: 225px;
	}

	.b-12{
		top: 225px;
		left: 0;
	}

	.b-13{
		top: 225px;
		left: 75px;
	}

	.b-14{
		top: 225px;
		left: 150px;
	}

	.b-15{
		top: 225px;
		left: 225px;
	}

	.bones, .bones-white{
    width: 75px;
	height: 75px;
	border: 2px solid #999;
	border-radius: 8px;
	}

	.bone-text{
		line-height: 75px;
		font-size: 25px;

	}


/*block = 400px */
/*width = 530-720px */
}

@media only screen and (max-width: 530px),
only screen and (max-device-width: 530px){
	.block{
		width: 300px;
		padding: 0;
		/*border: 1px solid orange;*/
		padding-bottom: 10px;
	}

	#menu{
		width: 300px;
		padding: 2px;
	}

	#menu ul{
		position: relative;
	}

	#menu ul li{
		float: none;
		display: block;
		margin: 0 auto;
		padding-bottom: 10px;

	}

	#menu ul li:first-child{
		margin-left: 0;
		padding-top: 10px;
	}

	#rules p {
		padding: 15px;
	}

	#records p {
		padding: 15px;
	}
	.button{
		width: 75%;
		margin: 0 auto;
	}

	.button-new-game {
		width: 75%;
		margin: 0 auto;
		float: none;
		margin-top: 10px;
	}

	#placeShowResult {
		float: none !important;
		text-align: center;
		margin-top: 15px !important;
	}

	.wrapper{
		width: 200px;
		height: 200px;
	}

	.b-00{
		top: 0;
		left: 0;
	}

	.b-01{
		top: 0;
		left: 50px;
	}

	.b-02{
		top: 0;
		left: 100px;
	}

	.b-03{
		top: 0;
		left: 150px;
	}

	.b-04{
		top: 50px;
		left: 0;
	}

	.b-05{
		top: 50px;
		left: 50px;
	}

	.b-06{
		top: 50px;
		left: 100px;
	}

	.b-07{
		top: 50px;
		left: 150px;
	}

	.b-08{
		top: 100px;
		left: 0;
	}

	.b-09{
		top: 100px;
		left: 50px;
	}

	.b-10{
		top: 100px;
		left: 100px;
	}

	.b-11{
		top: 100px;
		left: 150px;
	}

	.b-12{
		top: 150px;
		left: 0;
	}

	.b-13{
		top: 150px;
		left: 50px;
	}

	.b-14{
		top: 150px;
		left: 100px;
	}

	.b-15{
		top: 150px;
		left: 150px;
	}

	.bones, .bones-white{
    width: 50px;
	height: 50px;
	border: 1px solid #999;
	border-radius: 4px;
	}

	.bone-text{
		line-height: 50px;
		font-size: 16px;

	}

/*block = 300px */
/*width = 320-530px */
}

@media only screen and (max-width: 320px),
only screen and (max-device-width: 320px){
	.block{
		width: 96%;
		/*padding: 2px;*/
		/*border: 1px solid yellow;*/
		padding-bottom: 10px;
	}

	#menu{
		width: 96%;
		padding: 2px;
	}

	.wrapper{
		width: 160px;
		height: 160px;
	}

	.b-00{
		top: 0;
		left: 0;
	}

	.b-01{
		top: 0;
		left: 40px;
	}

	.b-02{
		top: 0;
		left: 80px;
	}

	.b-03{
		top: 0;
		left: 120px;
	}

	.b-04{
		top: 40px;
		left: 0;
	}

	.b-05{
		top: 40px;
		left: 40px;
	}

	.b-06{
		top: 40px;
		left: 80px;
	}

	.b-07{
		top: 40px;
		left: 120px;
	}

	.b-08{
		top: 80px;
		left: 0;
	}

	.b-09{
		top: 80px;
		left: 40px;
	}

	.b-10{
		top: 80px;
		left: 80px;
	}

	.b-11{
		top: 80px;
		left: 120px;
	}

	.b-12{
		top: 120px;
		left: 0;
	}

	.b-13{
		top: 120px;
		left: 40px;
	}

	.b-14{
		top: 120px;
		left: 80px;
	}

	.b-15{
		top: 120px;
		left: 120px;
	}

	.bones, .bones-white{
    width: 40px;
	height: 40px;
	border: 1px solid #999;
	border-radius: 4px;
	}

	.bone-text{
		line-height: 40px;
		font-size: 13px;
		font-weight: normal;

	}

/*wrapper = 80%*/
/*width<320px*/
}